Package: io.github.wyxdlz54188.oldterm
Name: NewTerm
Depends: system-cmds
Version: 2.1
Architecture: iphoneos-arm
Description: A MobileTerminal fork
Maintainer: wyxdlz54188 <lizi54188@outlook.com>
Author: wyxdlz54188 <lizi54188@outlook.com>
Section: 终端
Icon: http://wyxdlz54188.github.io/repo/images/Icon-72@2x.png